*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header
{
    width: 100%;
    padding:1.5rem 4rem 1.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    gap: 0.5rem;
}
.logo h1{
    color: rgb(222 44 77);
    font-family:Averia Serif Libre,Serif;
}
span
{
    color: rgb(251 146 60);
    font-family:Averia Serif Libre,Serif;
}
i.fa-solid.fa-burger 
{
    color: rgb(222 44 77);
    font-size: 2rem;
}

.list ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 2rem;
    gap: 2rem;
}
.list ul a
{
    text-decoration: none;
    color: rgb(75 85 99);

}
.list ul li
{
    list-style: none;
}
i.fa-solid.fa-cart-shopping {
    font-size: 2rem;
}
/* home */
.home
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243 244 246);
    padding: 4rem;
}
.about
{
    width: 50%;
    text-align: left;
    position:relative;
    top:0;
    left:0;
    animation: text 2000ms linear;
}
@keyframes text {
    from{
        position:relative;
        top:0;
        left:-500px;
        /* transform: (90deg); */
    }
    to{
        position:relative;
        top:0;
        left:0; 
    }
    
}
.about h1
{
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 700;
    font-family:Averia Serif Libre,Serif;
    color: black;
    margin-top: 4rem;
}
.about h4
{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
}
.about p
{
    color: rgb(156 163 175);
    font-size: 0.98rem;
    font-weight: 400;
}
.btn
{
    margin: 1rem 0 1rem 0;
}
button
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    gap: 0.5rem;
    background-color: rgb(222 44 77);
    border-radius: 10px;
    border: 1px solid rgb(222 44 77);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding-left:  1.5rem;
}
button:hover
{
    /* background-color: rgb(222 44 77); */
    transform: scale(1.1);
    transition:all 0.3s ease-in-out;
} 
.imgbox
{
    width: 50%;
    position:relative;
    top:0;
    right:0;
    animation: round 2000ms linear;
}
@keyframes round {
    from{
        position:relative;
        top:0;
        right:-500px;
        transform: rotate(90deg);
    }
    to{
        position:relative;
        top:0;
        right:0; 
    }
    
}
.imgbox img
{
    width: 100%;
}
.brand
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fb923c1a;
    padding: 3.5rem 0;
}
.coke
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coke img
{
    width: 300px;
    height: 360px;  
}
.info
{
    width: 50%;
    justify-content: center;
    position:relative;
    top:0;
    right:0;
    animation: para 2000ms linear;
}
@keyframes para {
    from{
        position:relative;
        top:0;
        right:-1000px;
        /* transform: rotate(90deg); */
    }
    to{
        position:relative;
        top:0;
        right:0; 
    }
    
}
.info h1
{
    font-size: 3.75rem;
    line-height: 1;
    text-align: left;
    max-width: 400px;
}
.info p
{
    font-weight: 300;
    padding-top: 10px;
}
/* restaurent menu */
.menus
{
    width: 100%;
}
.menu-item
{
    width: 1150px;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.rest
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.rest h2
{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}
.grid
{
    align-items: center;
}
i.fa-solid.fa-list 
{
    font-size: 1rem;
    padding: 0.5rem;
}
.flex-1
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.box
{
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    background-color: white;
    width: 355px;
    /* transition: all 0.2s linear; */
}
.box:hover
{
    transform: scale(1.05);
    transition:all 0.5s ease-in-out;
}
.box img
{
    width: 100%;
    height: 10rem;
    border-radius: .25rem;
    object-fit: cover;
}
.box h3
{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.box p
{
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgb(107 114 128);
    opacity: 1;
}
.box h4
{
    color: rgb(22 163 74);
    opacity: 1;
    font-weight: 400;
}
.box h5
{
    color: rgb(234 179 8);
    opacity: 1;
    font-weight: 500;
}
.box h6
{
    color: rgb(75 85 99);
    opacity: 1;
    font-weight: 500;
}
footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:3rem 4rem 3rem 4rem;
    background-color: #de2c4d1a;
}
.icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(55 65 81);
    font-size: 1.875rem;
    line-height: 2.25rem;
    gap: 1rem;
}
